

h1{
     font-family:"lora";
	 color:black;
	 font-size:40px;
}
body{
	background-color:papayawhip;
	line-height:38px;
	
}
h2{
	font-family:"lora";
	font-size:27px;
	color:brown;
}

p{
	color:black;
	font-size:18px;
	font-family: "Aclonica", sans-serif;	
}
header  {
	background-color:tomato;
	display:flex;
	}
 
  header nav a{
	 margin:30px;
 }
 a{
	 text-decoration:none;
	 color:white;
	 font-size:30px;
 }
.align{
	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
}
	
	 
	 
 ul{
	 list-style:none;
 } 
  

