h1{
     
     font-family:"lora";
	 color:brown;
	 font-size:40px;
}
body{
	background-color:papayawhip;
	line-height:38px;
	
}
h2{
	font-family:"lora";
	font-size:27px;
	color:brown;
}

p{
	color:black;
	font-size:18px;
	font-family: 'Aclonica', sans-serif;
	
}

